// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  box-shadow: 5px;
  border-bottom: 2px solid ;
  background-color: #3CBC8D;
}
